  </div>
    <div class="footer">
      <footer>
        <p>Made with ❤️ by <a href="https://github.com/libbymiller09" class="nonNavTag">Elisabeth Miller</a></p>
      </footer>
    </div>
  </body>
</html>
