<%- include("partials/header"); -%>

<h1>About</h1>

<h3>How to use this application?</h3>
<p>Anxiety can be a crippling and terrifying thing to experience, especially if it occurs frequently.</p>
<p>Keeping track of when anxiety is at its worst, can help in recognizing triggers, and deepen understanding about why anxiety flares up.</p>
<p>With this application, you can log anxiety flare ups when it happens.</p>
<p>Then go back and review commonalities and patterns in when and why anxiety happens.</p>

<%- include("partials/footer"); -%>
