<%- include("partials/header"); -%>

<div class=" text-center">
  <h2>You've been successfully logged out!</h2>
  <h3>If you'd like to log back in...</h3>
  <a href="/login" class="btn btn-lg btn-primary">Click Here!</a>
</div>

<%- include("partials/footer"); -%>
